@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: linear-gradient(163.89deg, #020419 32.68%, #2D29D2 260.74%);
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 10px;
}


.welcome {
    margin-top: 10px;
}

.welcome_left_block {
    display: flex;
    flex-direction: column;
}

.welcome_blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome_text {
    margin-bottom: 29px;
    max-width: 841px;
    font-weight: 300;
    font-size: 29px;
    line-height: 33px;
}

.welcome_title {
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 46px;
}

.welcome_cards {
    display: flex;
    gap: 15px;
}

.welcome_card {
    width: 412px;
    height: 303px;
    padding: 10px;
    border: 2px solid #353647;
}

.welcome_card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_card_content_text {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
}

.welcome_card_content_title {
    font-weight: 500;
    font-size: 100px;
}

.info {
    margin-top: 118px;
}

.info .container {
    display: flex;
    gap: 80px 150px;
    flex-wrap: wrap;
}

.info_underline {
    display: block;
    width: 412px;
    border-bottom: 2px solid #2D29D2;
    margin-top: 26px;
}

.info_title {
    font-weight: 500;
    font-size: 40px;
}

.info_list {
    list-style: none;
    margin-bottom: 33px;
    display: flex;
}

.info_ul {
    padding-left: 0;
    margin-top: 59px;
}

.info_content {
    max-width: 765px;
}

.info_list_style {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #2D29D2;
    margin-right: 38px;
}

.history_content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.history_block_text {
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.01em;
}

.history_title {
    margin-bottom: 129px;
    font-weight: 600;
    font-size: 65px;
}

.history_block {
    padding: 20px;
    max-width: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #CB8EBB;
    height: 100%;
}

.history_block_years {
    width: 130px;
    height: 130px;
    background: #EBB8DE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
    position: relative;
}


.history_years {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}


.down {
    align-items: start;
    gap: 10px;
}

.history_line {
    display: block;
    position: absolute;
    width: 91px;
    border: 2px solid #EBB8DE;
    transform: rotate(-90deg);
}

.top_line {
    top: -26px;
}

.down_line {
    bottom: -26px;
}

.history {
    background-image: url("../images/AdobeStock_129203284\ 3.png");
    background-size: cover;
    padding: 60px 0;
}


@media(max-width: 1554px) {
    .welcome_text {
        max-width: 600px;
    }

    .info_content {
        max-width: 450px;
    }

    .history_content {
        gap: 10px;
    }
}

@media(max-width: 1068px) {
    .welcome_text {
        max-width: 850px;
        font-size: 20px;
    }

    .welcome_blocks {
        margin-bottom: 30px;
    }

    .info_content {
        max-width: 300px;
    }

    .history_block_text {
        font-size: 14px;
    }

    .info_list {
        font-size: 15px;
    }

    .welcome_card_content_title {
        font-size: 60px;
    }

    .welcome_card_content_text {
        font-size: 16px;
    }

    .history_block_years {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

}

@media(max-width: 900px) {
    .history_block_years {
        width: 80px;
        height: 80px;
        font-size: 30px;
    }

    .history_block {
        padding: 5px;
    }

    .history_block_text {
        font-size: 11px;
    }

    .info_content {
        max-width: 250px;
    }

    .info_underline {
        width: 300px;
    }

}

@media(max-width: 711px) {
    .info_content {
        max-width: 200px;
    }

    .welcome_image {
        width: 550px;
    }

    .welcome_card_content_title {
        font-size: 45px;
    }

    .welcome_card_content_text {
        font-size: 12px;
    }

    .info_underline {
        width: 250px;
    }
}

@media(max-width: 637px) {
    .history_block_years {
        width: 50px;
        height: 50px;
        font-size: 15px;
    }

    .history_years {
        gap: 40px;
    }

    .history_block_text {
        line-height: 15px;
        font-size: 8px;
    }

    .history_content {
        gap: 5px;
    }

    .info_list {
        font-size: 12px;
    }

    .info_underline {
        width: 200px;
    }

    .info_title {
        font-size: 35px;
    }

    .info_list_style {
        margin-right: 20px;
    }
}

@media(max-width: 568px) {
    .welcome_card {
        padding: 5px;
    }

    .history_block_years {
        font-size: 12px;
        height: 45px;
    }

    .welcome_image {
        width: 450px;
    }

    .welcome_card_content_title {
        font-size: 25px;
    }

    .welcome_card_content_text {
        font-size: 9px;
    }

    .welcome_card {
        height: auto;
    }

    .info_list_style {
        margin-right: 10px;
    }

    .info_content {
        max-width: 100px;
    }

    .history_line {
        width: 80px;
    }

    .top_line {
        top: -31px;
    }

    .down_line {
        bottom: -31px;
    }
}

@media(max-width: 514px) {


    .welcome_image {
        width: 250px;
    }

    .info_underline {
        width: 200px;
    }

    .info_content {
        max-width: 300px;
    }

    .history_block_years {
        height: auto;
        width: auto;
        font-size: 9px;
        padding: 5px;
    }

    .history_years {
        gap: 2px;
    }

    .history_block {
        padding: 2px;
    }

    .history_block_text {
        font-size: 8px;
        line-height: 10px;
    }

    .welcome_card_content_title {
        font-size: 15px;
    }

    .welcome_cards {
        flex-wrap: wrap;
    }

    .history_title {
        font-size: 50px;
    }

    .history_line {
        border: 1px solid #EBB8DE;
        width: 70px;
    }

    .top_line {
        top: -35px;
    }

    .down_line {
        bottom: -35px;
    }


}

@media(max-width: 460px) {
    .history_block_text {
        font-size: 5px;
        line-height: 8px;
    }
}

@media(max-width: 302px) {
    .history_block_text {
        font-size: 5px;
        line-height: 8px;
    }

    .history_block_years {
        width: 10px;
        height: 10px;
        font-size: 7px;
    }
}

@media(max-width: 300px) {
    .history_block_text {
        font-size: 3px;
        line-height: 8px;
    }
    .welcome_text {
        font-size: 13px;
    }
    .welcome_image {
        width: 180px;
    }

    .history_title {
        font-size: 20px;
    }
    .info_list {
        font-size: 10px;
    }
    .info_title {
        font-size: 20px;
    }
    .info_underline {
        width: 100px;
    }
}